body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

header {
  background-color: #739b0a;
  color: #fff;
  text-align: center;
  padding: 10px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  font-size: 36px;
}

p {
  font-size: 18px;
}

a {
  text-decoration: none;
  background-color: #739b0a;
  color: #fff;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 5px;
}

a:hover {
  background-color: #739b0a;
}
